body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-background {
    background-image: url('/static/images/encosta.jpg'); /* Adicionar a imagem aqui */
    background-size: cover;
    background-position: center;
    height: 400px;
    opacity: 0.7;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5em;
}

.map-section {
    padding: 20px;
}

#map {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
}

.project-info {
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
