<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Encostas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/templates/sensores.html">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>MONITORAMENTO DE ENCOSTAS COM DISPOSITIVO EMBARCADO (IoT)</h1>
            <div class="hero-background">
                <!-- Imagem de fundo de uma encosta -->
            </div>
        </section>

        <section class="map-section">
            <h2>Mapa Georreferenciado de Sensores</h2>
            <div id="map"></div>
        </section>

        <section class="project-info">
            <h2>Sobre o Projeto</h2>
            <p>A eficácia do monitoramento de encostas... <!-- Colocar o conteúdo do projeto aqui -->.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Monitoramento de Encostas</p>
    </footer>
</body>
</html>
